<div class="appointment-box">
    <div class="appointment-content">
        <div class="block">
            <input type="date" value="{{displayYear}}-{{displayMonth}}-{{displayDay}}" #inputDate>
        </div>
        <div class="block">
            <p>Start</p>
            <input type="time" value="{{startTime}}" #inputStartTime>
        </div>
        <div class="block">
            <p>Ende </p>
            <input type="time" value="{{endTime}}" #inputEndTime>
        </div>
        <div class="block">
           <select [(ngModel)]="groupId" #inputGroupName>
                <option *ngFor="let group of groupList" value="{{group.id}}" [selected]="group.id === groupId">{{group.name}}</option>
           </select>
        </div>
        <div class="block">
            <button (click)="safe_data(inputDate.value, inputStartTime.value, inputEndTime.value, inputGroupName.value)">Speichern</button>
        </div>
    </div>
</div>
