.appointment-box {
    box-sizing: border-box;
    background-color: rgb(197, 197, 197);
    display: flex;
    border: 1px solid;
    justify-content: center;
    width: 500px;
    height: 500px;
    max-width: 100%;
    text-align: center;

}

.appointment-content {
    text-align: center;
}

.block {
    padding-top: 1em;
    display: flex;
}