.appointment {
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box {
    width: 100%;
}

.entries {
    box-sizing: border-box;
    width: 100%;
}

.daystyle {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: black;
    font-size: xx-large;
    z-index: 10;
    background-color: rgb(158, 158, 158);
    display: flex;
    text-align: center;
}

.daystyle:hover {
    background-color: rgba(0,0,0,0.3);
}