<div>
<h1>TGÖ Services</h1>

<ul>
  <li *ngFor="let user of users">
    {{user.first_name}} {{user.last_name}} {{user.email}}
  </li>
</ul>

<input id="forname" type="text" [(ngModel)]="user.first_name" placeholder="Vorname">
<input id="lastname" type="text" [(ngModel)]="user.last_name" placeholder="Nachname">
<input id="email" type="email" [(ngModel)]="user.email" placeholder="email">
<input id="date" type="date" [(ngModel)]="user.birthdate">
<button (click)="createUser()">Absenden</button>
</div>